<script setup>
  import { reactive, ref } from 'vue'
  
  // 使用 reactive 管理「複雜資料結構」
  const user = reactive({
    name: '小明',
    age: 18,
    hobbies: ['看書', '打球']
  })
  
  // 使用 ref 管理「單一值」
  const loading = ref(false)
  
  // 函式示範
  function updateName(newName) {
    user.name = newName
  }
  
  function toggleLoading() {
    loading.value = !loading.value
  }
  </script>
  
  <template>
    <div>
      <h2>{{ user.name }} ({{ user.age }} 歲)</h2>
      <ul>
        <li v-for="hobby in user.hobbies" :key="hobby">{{ hobby }}</li>
      </ul>
  
      <button @click="updateName('小白')">改名小白</button>
  
      <p v-if="loading">載入中...</p>
      <button @click="toggleLoading">{{ loading ? '停止載入' : '開始載入' }}</button>
    </div>
  </template>
  