<script setup>
    import { ref , reactive } from 'vue'
    const parentMessage = ref('Parent')
    const items = ref([{ message: 'Foo' }, { message: 'Bar' }])


    const myObject = reactive({
    title: 'How to do lists in Vue',
    author: 'Jane Doe',
    publishedAt: '2016-04-10'
    })
</script>

<li v-for="(item, index) in items">
    {{ parentMessage }} - {{ index }} - {{ item.message }}
    <!-- Parent - 0 - Foo
         Parent - 1 - Bar -->
</li>

<ul>
    <li v-for="(value, key, index) in myObject">
        {{ index }}. {{ key }}: {{ value }}
    </li>
</ul>